samples/
*.dat
logs/
libraries/
indicators/
*.dll
*.ex4
*.log
WinUser32.mqh
stdlib.mqh
stderror.mqh
templates
*Sample.mq4
Moving*Average.mq4
scripts/close.mq4
scripts/delete_pending.mq4
scripts/modify.mq4
scripts/modify_pending.mq4
scripts/period_converter.mq4
scripts/rotate_text.mq4
scripts/send_pending.mq4
